html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.App{
  min-height: calc(100vh - 100px);
}

.desktopNavLinks{
  text-decoration: none;
  color: inherit;
  font-family: 'Literata', Garamond;
}

/* ###################### */
/* Styles for the navbar. */

#menuIconB{
  background-color: gold;
  border-radius: 0.3em;
  border-color: aliceblue;
}

.menuIconDiv {
  width: 1em;
  height: 0.2em;
  background-color: white;
  margin: 0.2em 0;
}

.mmContent{
  text-align: center;
  color: black;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.mobileMenu{
  display:none;
}

nav {
  border-bottom: 2px solid gold;
  margin: 0 0.7em;
  font-size: 1.3em;
  padding: 0.4em;
}

.desktopNav{
  display: flex;
  justify-content: space-around;
  
}

.desktopNav a:link {
  text-decoration: none;
}

.desktopNav a:visited {
  text-decoration: none;
}

/*Dropdown*/

/* Dropdown Button */
.dropbtn {
  font-family: 'Literata', Garamond;
  font-style: bold;
  padding: 0px;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
}

.articleTitle{
  text-align: center;
}


/* The headings in the desktop navbar: centering */
.dropdown, .siteName {
  min-width:20%;
  text-align: center;
}


.articleLinks{
  text-decoration: none;
  color: rgb(0, 191, 255);
}


/* ##################### */
/* Styles for Articles landing page. */

.grid-container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.beliefBox{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.2em;
  background-color: white;
  display: flex;

}

.cardBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  cursor: pointer;
}

.cardT{
  color: rgb(49, 153, 194);
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Literata', Garamond;
}

/* ##################### */
/* Styles for displaying questions in a quiz. */

.QuestionContainer{
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 7%;
  justify-content: center;
  font-size: large;
}

#question{
  padding-bottom: 2em;
  text-align: center;
}

.question-button{
  padding: 1em;
  width: auto;
  border-color:black;
  border-radius: 0.2em;
  border-width: 0.14em;
  color:white;
  background-color: lightslategrey;
}

.quiz-nav-button-container{
  padding:1em;
}

.quiz-nav-button{
  background-color: black;
  color: white;
  font-weight: 700;
  border-color: black;
  border-width: 0.14em;
  border-radius: 0.2em;
  padding: 0.5em;
}

/* ##################### */
/* Styles for displaying explanations in a quiz and articles. */

.MainContentContainer {
  padding-top: 4%;
  padding-left: 30%;
  padding-right: 30%;
}

.MainContentContainer p{
  font-family: 'Crimson Pro',serif;
  text-align: justify;
  font-size: large;
}

.eTitle {
  text-align: center;
  font-family: 'Literata', Garamond;
}


* {
  box-sizing: border-box;
}

.quizNavigation{
  display: flex;
  padding-top: 2em;
  justify-content: center;
}

blockquote{
  padding: 1em 40px;
}

/* Styles for displaying youtube videos. */
.iframeVideo{
  align-items: center;
}

iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}

/* Styles for the Cards */

.menuLinks {
  text-decoration: none;
  color: rgb(49, 153, 194);
  font-weight: 400;
  font-family: 'Literata', Garamond;
}

.titleBox {
  margin-top: 4%;
  font-family: 'Literata', Garamond;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  height: 100px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
  text-align: center;
}
.titleBox h1{
  border-bottom: 1px solid royalblue;
}

.titleBoxText{
    font-family: 'Literata', Garamond;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 100px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    text-align: center;
    font-size: 1.3em;
  }


/* ##################### */
/* ##################### */
/* ##################### */
@media screen and (max-width: 1280px) {
  .MainContentContainer {
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .dropdown-content {
    min-width: 150%;
  }
  .cardBox{
    max-width: 400px;
    justify-self: center;
  }
  .grid-container { 
    grid-template-columns: repeat(1, 1fr);
    padding: 3% 10%; 
  }
}
/* ##################### */
@media screen and (max-width: 670px) {
  .grid-container {
    padding: 3% 3%;
  }
}
/* ##################### */
@media screen and (max-width: 479px) {
  .QuestionContainer{
    padding-left: 3%;
    padding-right: 3%;
  }
  .MainContentContainer {
    padding-top: 7%;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
  }
  .dropdown{
    display:none;
  }
  nav{
    display:flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin: 0;
  }
  .mobileMenu{
    display:flex;
  }
  .grid-container { 
    padding: 2%;
    margin: 2em 0;
  }
  .articleGrid{
    font-size: 1em;
  }
  .homePagePic{
    display: flex;
  }
  .titleBox h1{
    border-bottom: 1px solid gold;
  }
}