html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.desktopNavLinks{
  text-decoration: none;
  color: white;
  font-family: 'Literata', Garamond;
}

/* ###################### */
/* Styles for the navbar. */

#menuIconB{
  background-color: gold;
  border-radius: 0.3em;
  border-color: aliceblue;
}

.menuIconDiv {
  width: 1em;
  height: 0.2em;
  background-color: white;
  margin: 0.2em 0;
}

.mmContent{
  text-align: center;
  color: black;
  font-weight: 300;
}

.mobileMenu{
  display:none;
}

nav {
  border: 0px;
  margin: 0px;
  font-size: 1.3em;
  padding: 0.7em;
  background-color: white;
  color: black;
}

.desktopNav{
  display: flex;
  justify-content: space-around;
}

.desktopNav a:link {
  text-decoration: none;
  color: black;
}

.desktopNav a:visited {
  color: black;
  text-decoration: none;
}

/*Dropdown*/

/* Dropdown Button */
.dropbtn {
  background-color: white;
  font-family: 'Literata', Garamond;
  font-style: bold;
  color: black;
  padding: 0px;
  font-size: inherit;
  border: none;
}

.articleTitle{
  text-align: center;
}


/* The headings in the desktop navbar: centering */
.dropdown, .siteName {
  min-width:20%;
  text-align: center;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0.9;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(51, 56, 85);
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.articleLinks{
  text-decoration: none;
  color: rgb(0, 191, 255);
}


/* ##################### */
/* Styles for Articles landing page. */

.grid-container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.articleGrid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.2em;
  background-color: white;
}

.cardT{
  color: rgb(49, 153, 194);
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Literata', Garamond;
}

/* ##################### */
/* Styles for displaying questions in a quiz. */

.QuestionContainer{
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 7%;
  justify-content: center;
  font-size: large;
}

#question{
  padding-bottom: 2em;
  text-align: center;
}

.question-button{
  padding: 1em;
  width: auto;
  border-color:black;
  border-radius: 0.2em;
  border-width: 0.14em;
  color:white;
  background-color: lightslategrey;
}

.quiz-nav-button-container{
  padding:1em;
}

.quiz-nav-button{
  background-color: black;
  color: white;
  font-weight: 700;
  border-color: black;
  border-width: 0.14em;
  border-radius: 0.2em;
  padding: 0.5em;
}

/* ##################### */
/* Styles for displaying explanations in a quiz and articles. */

.MainContentContainer {
  padding-top: 4%;
  padding-left: 30%;
  padding-right: 30%;
}

.MainContentContainer p{
  font-family: 'Crimson Pro',serif;
  text-align: justify;
  font-size: large;
}

.eTitle {
  text-align: center;
  font-family: 'Literata', Garamond;
}


* {
  box-sizing: border-box;
}

.quizNavigation{
  display: flex;
  padding-top: 2em;
  justify-content: center;
}

/* Styles for displaying youtube videos. */
.iframeVideo{
  align-items: center;
}

iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}

/* Styles for the offcanvas */

.menuCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0.2em;
  background-color: white;
  width:100%;
}

.menuLinks {
  text-decoration: none;
  color: rgb(49, 153, 194);
  font-weight: 400;
  font-family: 'Literata', Garamond;
}


/* ##################### */
/* ##################### */
/* ##################### */
@media screen and (max-width: 1280px) {
  .MainContentContainer {
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .dropdown-content {
    min-width: 150%;
  }

  .grid-container { 
    grid-template-columns: repeat(2, 1fr); 
    padding:5%;

  }
}

/* ##################### */
/* ##################### */
/* ##################### */
@media screen and (max-width: 480px) {
  .QuestionContainer{
    padding-left: 3%;
    padding-right: 3%;
  }
  .MainContentContainer {
    padding-top: 7%;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
  }
  .dropdown{
    display:none;
  }
  nav{
    display:flex;
    justify-content: space-between;
  }
  .mobileMenu{
    display:flex;
  }
  .grid-container { 
    grid-template-columns: repeat(1, 1fr); 
    padding: 2%;
    margin:none;
  }
  .articleGrid{
    font-size: 1em;
  }
  .cardT{
    font-size: 1em;
  }
}