
.quizQuestionBox{
  font-family: 'Literata', Garamond;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  height: 300px;
  width: 600px;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
  text-align: center;
  text-shadow: 4px 2px 4px rgb(180, 178, 173);
}

.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#question1{
  background-image: url('../public/images/resurrection.jpg');
  color: white;
  text-shadow: -4px -2px 4px rgb(0, 0, 0);
}

#question2 {
  background-image: url('../public/images/big_bang.jpg');
  color: rgb(195, 239, 250);
  
}

#question3 {
  background-image: url('../public/images/dna.jpg');
  color: whitesmoke;
  text-shadow: 4px 2px 4px rgb(224, 176, 70);
}

.quizBanner {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  padding-left: '25%';
  padding-right: '25%';
  padding-top: '5%';
}

.gridcontainerhome {
  display: grid;
  margin: 4rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1280) {
  .quizQuestionBox{
    width:40vw;
    height:22.5vw;
  }
}

@media (max-width: 690px) {
  .quizQuestionBox{
    width:100%;
    height:56.25vw;
  }
}
